body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  
  padding: 20px;
  
}

.header {
  font-size: 50px;
  font-weight: 300;
  margin: 10px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  color: #dddddd;
}

.icon-btn {
  background: none;
  border: none;
}

.category-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.category-list li {
  float: left;
}

.category-list li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}



.commentBox {
  background: #dddddd;
}